# Dependências do Node (Angular, TS, etc)
**/node_modules
**/dist
npm-debug.log

# Arquivos de IDE (IntelliJ, VS Code)
.idea/
.vscode/

# Arquivos de Sistema
*.log

# Java
*.class
.idea/
*.iml
out/
target/

# === .NET / Visual Studio Code ===
bin/
obj/
TestResults/
[Log]/

# Arquivos de publicação e builds
appsettings.Development.json
*.exe
*.dll
*.pdb
*.user
*.suo

# Cache do NuGet
project.lock.json
project.nuget.cache
*.nuget.props
*.nuget.targets
