<h1>Posto de Gasolina</h1>
<hr />
<div>
  <h3>Preços:</h3> 
  <p>
    Gasolina (comum) = R${{gasolina}}
  </p>
  <p>
    Gasolina (adtivada) =  R${{adtivada }}
  </p>
  <p>
    Disel = R${{disel}}
  </p>
  <p>
    Etanol = R${{etanol}}
  </p>
</div>
<hr />
<div>
  <h3>Informações do Pedido:</h3>
  <div>
    Qual tipo de combustível:
    <select name="tipo" [(ngModel)]="tipoSelecionado">
      @for (item of tiposCombustivel; track item) {
        <option [value]="item">{{item}}</option>
      }
    </select>
  </div>
  <p>
    Quantidade de Litros: <input type="number" [(ngModel)]='litros'>
  </p>
</div>
<button (click)="calculadoraGasolina()">Calcular Total</button>
<div>  
  @if (resumo) {
    <p [ngClass]="{
      'texto-gasolina': tipoSelecionado === 'Gasolina',
      'texto-etanol': tipoSelecionado === 'Etanol',
      'texto-aditivada': tipoSelecionado === 'Adtivada',
      'texto-diesel': tipoSelecionado === 'Diesel'
    }">Valor para pagar: {{totalAbastecimento | currency:'BRL'}}</p>
    <p>Quantidade de litros: {{litros | number}}</p>
    <p>Data da compra: {{dataAbastecimento | date:'dd/MM/yyyy'}}</p>
  }
</div>